* {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
    height: 1200px;
    font-family: arial, sans-serif;
    clear: left;
    background: url("../images/background-image2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    }
    
        
        
   
/* headings */

h1,
h2,
h3 {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    color: navy;
}

#main_heading {
    /*float: left;*/
    display:flex;
    justify-content:flex-start;
    font-size: 175%;
    margin-left: 35px;

}

#main_heading,
#navigation_links {
    line-height: 80px;
}

#navigation_links {
    font-size: 125%;
    text-rendering: geometricPrecision;
    display:flex;
    justify-content:flex-end;
    flex-direction: row;
    margin-top: auto;
}

#navigation_links li {
    list-style-type: none;
    margin-right: 25px;
}

#navigation_links a {
    text-decoration: none;
}
#images {
    float:right;
   
}

#mindfulness-image {
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: 10%;
    border-color: #000;
    

}

#mindfulness2 {
    width: 450px;
    height: 350px;
    padding: 20px;
    border-radius: 10%;
    border-color: #000;
}

#mildfundnes {
    width: 450px;
    height: 350px;
    float:right;
    padding: 20px;
    border-radius: 10%;
    border-color: #000;


}

/*moves text to the centre*/
.center-text {
    text-align: center;}
    

   
#lower-right-text {
    padding-top: 45px;
    float: right;
    width: 40%;
}

.footer-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-left: 40%;
}
.footer-bottom p{
    padding-top: 440px;
    text-align: right;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: #000;
    font-size: 1.3rem;


}


                       
 #about-us-title {
     text-align: center;
     padding: 7rem;
     margin: 0 auto;
     
 }

    .table-style {
        width: 600px;
        height:max-content;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0 auto;

        
    }
     
       
 .video {
     display:flex;
     justify-content: center;
     align-items:center;
     height: 180vh;
     
    }   
.video iframe {
    margin-bottom: 60%;
    
}

.opt_in_form {
    clear: left;
    background: url("../images/background-image.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 1200px;
}

.register {

    margin: 10% 10% 0 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 450px;
    position: absolute;
    left: 15%;
    padding: 35px;

}

.register h2 {
    color: rgb(12, 11, 11);
    margin-bottom: 30px;
}

/*form elements styling */
.text {
    width: 100%;
    height: 30px;
    margin: 10px 0 25px 0;
    font-weight: bold;
}

#opt_in {
    margin-top: 20px;
    padding: 12px 30px 12px 30px;
    text-align: center;
    font-size: 110%;
    background-color: blueviolet;
    color: #fff;
    display: block;
}

#opt_in:hover {
    background-color: blueviolet;
    color: #fff;
}
#footer-bottom-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color:#fff;
    font-size: 1.3rem;
    padding-bottom: 83%;}
#footer-bottom-sign-up p{
        padding-bottom: 50%; }
        
/* media screen size 1200px or less*/
        @media screen and (max-width: 1200px) {
         #mindfulness-block {
             width: 65%;
             height: 1200px;
             margin: 0 auto;
         } 
         html, body {
            height: 1200px;
            font-family: arial, sans-serif;
            clear: left;
            background: url("../images/background-image2.jpg") no-repeat;
            background-size: cover;
            background-position: center;
            } 
         
         #images {
             padding: 2rem 0.0rem;
             margin: 0 auto;
         } 
         #mindfulness-image, #mindfulness2, #mildfundnes {
             width: 31%;
             float: left;
             padding: 0.2rem;
             margin: 0 auto;

         }
         #lower-right-text {
             width: 100%;
             float: left;
             padding: 0rem;
             
         }
         .footer-bottom p {
            display:flex;
            justify-content: center;
            align-items: flex-end;

             }

             
        }

        @media screen and (max-width: 950px) {

        #main_heading,
        #navigation_links {     
        clear:left;
        float:left;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
        line-height: 1.5rem;
        
        }
        #mindfulness-image, #mindfulness2, #mildfundnes {
            width: 90%;
            height: 400px;
            margin:auto;
        }
        .table-style {
                width: 90%;
                float: left;
                padding: 0.2rem;
                margin: 0 auto;   
             }  
             .video {
                width: 90%;
                float: left;
                padding: 0.2rem;
                margin: 0 auto;  
             }
             
             
        }