
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    /*color:blueviolet;*/
    font-family: arial, sans-serif;
}
/* headings */

h1,h2,h3 {
    font-family: arial, sans-serif;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    color: navy;
}
#main_heading {
    float: left;
    font-size: 175%;
}
#main_heading, #navigation_links {
    line-height: 80px;
}
#navigation_links {
    font-size: 125%;
    text-rendering: geometricPrecision;

}
#navigation_links li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}
#navigation_links a {
    text-decoration: none;
}